# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf

[*.{tf,tfvars}]
indent_size = 2
indent_style = space

[*.json.tpl]
indent_size = 2
indent_style = space
